// Default
$c-black: #000;
$c-white: #fff;
$c-error: #e61945;
$c-success: #08B258;
// End Default

//Transparent
$c-black-transparent: rgba(0, 0, 0, .6);
//End Transparent

// Game
$c-ticket-background: #F7F7F7;
$c-ticket-border: #a9a9a9;
// End Game

// Ball
$c-ball-gray: #a9a9a9;
$c-ball-yellow: #ffe000; 
// End Ball

// Button
$c-button-background: #2ecc71;
$c-button-hover: #27ae60;
// End Button